* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
}

:root {
    --gap-user-panel: 8px;
    
    /* main-colors */
    --text: #F0F4EF;
    --background: #1C3144;
    --primary: #B4CDED;
    --secondary: #455C70;
    --accent: #d8327c;
    --header-font: "Pacifico", cursive;

    /* derived colors */
    --user-panel-bg: #2E4050;
    --button-active-color: #7aaae9;
    --cards-shadow: 2px 2px 3px rgba(255, 255, 255, 0.679);
    --cards-bg: #2E4050;
    --cards-padding: 15px 20px;
    --cards-border-radius: 10px; 
}

body {
    background-color: var(--background);
    color: var(--text);
}

.container {
    width: 100vw;
    display: grid;
    /* just wanted to do this for the sake of giving dashboard some sort of color 
        even before the books, but couldn't. oh well */
    /* grid-template-rows: 1fr 3fr;
    justify-content: baseline; */
    padding: 10px 40px;
    gap: 30px;
}

.header {
    justify-self: center;
    text-align: center;
}

.header .brand {
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    line-height: 3.3rem;
    width: 50vw;
    border-bottom: 2px solid var(--accent);
}

.header .slogan {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
}

.user-panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
}

.user-panel .title {
    font-weight: 600;
}

.user-panel > * {
    background-color: var(--user-panel-bg);
    padding: var(--cards-padding);
    box-shadow: var(--cards-shadow);
    border-radius: var(--cards-border-radius);
}

.user-panel .user-profile {
    display: grid;
    gap: var(--gap-user-panel);
}

.user-profile .user-profile-header,
.quote-container .quote-title {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--secondary);
}

.user-profile > .profile-info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-info-content {
    font-size: 1rem;
    padding-left: 2ch;
}

.new-book-container button {
    background-color: var(--primary);
    font-weight: bold;
    color: #222;
    font-size: 1rem;
    padding: 4px 24px;
    border: 0;
    border-radius: 6px;
}

.new-book-container button:active {
    background-color: var(--button-active-color);
}

.form-dialog {
    /* dialog *needs* an auto margin to be centered by default, but we've set it to 0 at the top */
    margin: auto;

    border: 0;
    border-left: 5px solid #d8327c;
    border-right: 5px solid #d8327c;
    box-shadow: none;
    color: var(--text);
}

.add-book-form {
    display: grid;
}

.add-book-form > .input-field {
    display: grid;
    gap: 3px;
}

span[aria-label="required"] {
    color: rgba(255, 0, 0, 0.726);
}

.add-book-form .input-label {
    font-weight: bold;
}

.add-book-form input {
    padding: 5px;
    border: 0;
    border-radius: 6px;
    outline: none;
    background-color: var(--secondary);
    color: var(--text);
    font-size: 1rem;
}

.add-book-form ::placeholder {
    color: rgba(255, 255, 255, 0.591);
}

.input-field.read-status {
    grid-auto-flow: column;
    padding: 5px;
}

.radio-label {
    font-style: italic;
}

input[type="radio"] {
    appearance: none;
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    vertical-align: -2px;
}
  
input[type="radio"]::before {
    content: "✔";
    color: var(--accent);
    position: absolute;
    font-size: 1.1em;
    right: -0.1px;
    top: -0.1rem;
    visibility: hidden;
}
  
input[type="radio"]:checked::before {
    /* visibility instead of totally generating the content here to avoid recalculating layout */
    visibility: visible;
}
  
.add-book-form > .dialog-buttons {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.dialog-buttons button {
    border: 0;
    background-color: var(--primary);
    padding: 5px;
    font-weight: bold;
    color: #222;
    border-radius: 6px;
    font-size: 1rem;
}

.dialog-buttons button:active {
    background-color: var(--button-active-color);
}

::backdrop {
    backdrop-filter: blur(5px);
}

.quote-container {
    display: flex;
    flex-direction: column;
}

.quote-container .quote {
    flex: 1;
    display: grid;
    place-content: center;
    padding: 0.3rem;
    font-style: italic;
    font-size: 2rem;
}

.quote-container .quotee{
    align-self: end;
    padding-right: 20px;
}   

/* keep utils class cause might change later */
.utils form{
    /* display: grid; */
    gap: var(--gap-user-panel)
}

.utils fieldset {
    border: none;
    display: flex;
    gap: 10px;
}

.books-dashboard {
    background-color: var(--cards-bg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: var(--cards-padding);
    border-radius: 10px;
    box-shadow: var(--cards-shadow);
}

.books-dashboard .book {
    background-color: var(--secondary);
    color: var(--text);
    border-left: 5px solid var(--accent);
    padding: var(--cards-padding);
    border-radius: var(--cards-border-radius);

    display: grid;
    gap: 4px;
}

.book .card-info-container {
    display: flex;
    gap: 6px;
}

.book .card-label {
    font-weight: bold;
}

.book .deleteButton {
    background-color: rgb(245, 65, 65);
    border: 0;
    border-radius: 5px;
    padding: 4px 20px;
    font-weight: bold;
    color: white;
}

.book .deleteButton:active {
    background-color: rgb(177, 1, 1);
}